.margin-left {
    margin-left: 20px;
}

.mb-1 {
    margin-bottom: 10px;
}
.borderDetailBus span {
    border-radius: 5px !important;
    border: 1px solid #ddd;
    padding: 10px;
}

.seat-add{
    border-radius: 5px !important;
    border: 1px solid #ddd;
    background-color: #0b9852;
    color: white;
}
.tittle-DetailBus {
    background: #0D2240;
    border-color: #0D2240;
    color: white;
    border-radius: 2px !important;
}

.border-container {
    border: 1px solid #ddd;
    border-radius: 5px !important;
}

.title-select-asiento {
    border-bottom: 3px solid #0b9852;

}

.btn-selected {
    background-color: #0b9852;
    border-color: #0b9852;
    color: white;
    border: 1px solid #ddd;
}

.btn-asiento {
    border: 1px solid #ddd;

}


.grid-container-filtered{
    display: inline-flex;
    justify-content: center;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 50px); 
    grid-auto-rows: 45px; 
    justify-content: center;
  }
  
